<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Battlelore Army Builder</title>
		<link href="public/assets/css/style.css" rel="stylesheet">
		<script src="https://unpkg.com/vue@3"></script>
		<script src="src/Entities/Skill.js"></script>
		<script src="src/Entities/Unit.js"></script>
		<script src="src/Components/FactionSelectorComponent.js"></script>
		<script src="src/Components/UnitCardComponent.js"></script>
		<script src="src/Components/SkillComponent.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="header">
				<input id="skill-container-toggle" type="checkbox" v-model="showSkills">
				<label for="skill-container-toggle">skills</label>
				<div class="army-points">verfügbare Punkte: {{maxPoints + (extraPoints ? 5 : 0) - usedPoints}}</div>
				<input id="army-container-toggle" type="checkbox" v-model="showArmy">
				<label for="army-container-toggle">army</label>
			</div>
			<faction-selector-component :max-points="maxPoints" :used-points="usedPoints" :extra-points="extraPoints" :show-skills="showSkills" :show-army="showArmy"></faction-selector-component>
			<div class="skill-container" v-if="showSkills">
				<skill-component v-for="skill in skills" :skill="skill"></skill-component>
			</div>
			<div class="card-container">
				<div class="unit-container">
					<div v-for="pack in units">
						<unit-card v-for="(unit, index) in pack" :unit="unit" :index="index" :customfunc="addUnit" :packlength="pack.length"></unit-card>
					</div>
				</div>
				<div class="army-container" :class="{ open: showArmy }">
					<div v-for="pack in army">
						<unit-card v-for="(unit, index) in pack" :unit="unit" :index="index" :customfunc="removeUnit" :packlength="pack.length"></unit-card>
					</div>
				</div>
			</div>
		</div>
		<script src="src/app.js"></script>
	</body>
</html>