<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Battlelore Army Builder</title>
		<link href="public/assets/css/style.css" rel="stylesheet">
		<script src="https://unpkg.com/vue@3"></script>
		<script src="src/Entities/Unit.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="army-points">verfügbare Punkte: {{maxPoints + (extraPoints ? 5 : 0) - usedPoints}}</div>
			<div class="faction-container" :class="{ selected: faction }">
				<input id="factionDaqan" class="faction-selector" type="radio" name="faction" v-model="faction" value="Daqan" /><div class="faction-selector-label"><label for="factionDaqan"><img src="public/assets/img/daqan.png" /><div>Daqan</div></div></label>
				<input id="factionUthuk" class="faction-selector" type="radio" name="faction" v-model="faction" value="Uthuk" /><div class="faction-selector-label"><label for="factionUthuk"><img src="public/assets/img/uthuk.png" /><div>Uthuk</div></div></label>
				<input id="factionWaiqar" class="faction-selector" type="radio" name="faction" v-model="faction" value="Waiqar" /><div class="faction-selector-label"><label for="factionWaiqar"><img src="public/assets/img/waiqar.png" /><div>Waiqar</div></div></label>
			</div>
			<div class="card-container">
				<div class="unit-container">
					<div v-for="pack in units">
						<builder-component v-for="unit in pack" :unit="unit"></builder-component>
					</div>
				</div>
				<div class="army-container">
					<army-component v-for="unit in army" :unit="unit"></army-component>
				</div>
			</div>
		</div>
		<script src="src/app.js"></script>
	</body>
</html>